.btn {
  @include btn;
}

.btn--order {
  padding: 1.6rem 6rem;
  @include tablet {
    padding: 1.7rem 8rem;
  }
  @include desktop {
    padding: 1.8rem 10rem;
  }
}

.btn--link {
  color: $colour-accent;
  cursor: pointer;
}

.btn--contact {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: $colour-white;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
